<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075251968666-e5nc7cgdg5qrl3ss5ju84u7osavib8mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075251968666-e5nc7cgdg5qrl3ss5ju84u7osavib8mv</string>
	<key>API_KEY</key>
	<string>AIzaSyANG1KowZAWku256Fo1JR_inA7mjSdJWnU</string>
	<key>GCM_SENDER_ID</key>
	<string>1075251968666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tsu.IwantToTSU</string>
	<key>PROJECT_ID</key>
	<string>tsuabiturient</string>
	<key>STORAGE_BUCKET</key>
	<string>tsuabiturient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075251968666:ios:23fea6d3b781d945c63d23</string>
</dict>
</plist>